name: Deploy Backend
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: superfly/flyctl-actions/setup-flyctl@master
      run: fly deploy ./backend
      env:
        FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}